.notes-list-container {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 5px;
}

.notes-list-note {
    cursor: pointer;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.notes-list-note-text {
    color: #119dd9de;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.notes-list-note-delete-button {
    background-color: #d64a4aea;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    width: 100px;
    height: 30px;
    cursor: pointer;
}


/* Modal */

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

/* Update Button */
.modal-buttons button {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: white;
    color: blue;
    border: 1px solid blue;
    cursor: pointer;
    font-weight: bold;
}

.modal-buttons button:hover {
    background-color: rgb(116, 203, 116);
    color: white;
    border: 1px solid rgb(116, 203, 116);
}

/* Close Button */
.modal-buttons button:last-child {
    background-color: blue;
    color: white;
    border: none;
}
    
.modal-buttons button:last-child:hover {
    background-color: white;
    color: rgb(124, 124, 124);
    border: 1px solid rgb(124, 124, 124);
}   